certifi==2024.07.04
charset-normalizer==3.3.2
colorama==0.4.6
exceptiongroup==1.2.0
freetype-py==2.1.0.post1
glfw==2.6.3
hsluv==5.0.4
idna==3.7
iniconfig==2.0.0
kiwisolver==1.4.5
numpy==1.26.2
p5==0.8.3
packaging==23.2
Pillow==9.0.1
pluggy==1.3.0
pybind11==2.11.1
PyOpenGL==3.1.6
PyOpenGL-accelerate==3.1.7
pytest==7.4.3
requests==2.32.0
skia-python==87.5
tomli==2.0.1
urllib3==2.2.2
vispy==0.10.0
selenium~=4.29.0